<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trip Diary</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<header>
  <h1>Thnks Fr Th Mmrs</h1>
  <h2>Welcome to your online trip Diary</h2>
</header>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if loggedIn}}
        <a href="/homepage"> Homepage </a> |
        <button class="no-button" id="logout"> Logout </button>
        {{else}}
        <a href="/login"> Login Here </a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
  </div>
</body>

</html>