<section class="container">


    {{#if loggedIn}}
    <section class="flex-row justify-center">
        {{#each trips as |trip|}}
        <h3 class="name"> Hey{{user.firstname}}, here are your trip posts</h3>
        {{> trip-details}}
        {{/each}}
    </section>

</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}