<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trip Diary</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<header>
  <div class="flex justify-center">
  <h1>Profile Page</h1>

  </div>
</header>

<body>
  <div>
    <header class="profile-header">
      <nav>
        {{#if loggedIn}}
        <nav class="nav">
          <a href="/profile">Profile</a>
          <a href="/trips">Trips</a>
          <a href="/trips/new">New Trip</a>
          <button class="no-button logout-btn"> Logout </button>
        </nav>
        <div class = "profile">
          <h2> Welcome to your homepage!</h2>

          <div class="image">
            <p>Under Construction</p>
          <img src="/assets/nik-umFPf301OjQ-unsplash.jpg" alt="under construction picture">
          </div>
        </div>
        
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
  
  </div>

  <script src="/js/logout.js"></script>
</body>

</html>