:root {
  --primary: #353d2f;
  --secondary: #E6FAFC;
  --tertiary: #D4D4D4;
  --quatrinary: #515b3a;
  --light: #E6FAFC;
  --dark: #182C23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}
body {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-color: var(--quatrinary);
}
a {
  color: var(--dark);
  text-decoration: none;
}
a:visited {
  color: inherit;
}
header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}
main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}
nav {
  display: flex;
 
}
nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}
img {
  max-width: 50%;
  height: auto;
}

/* CARDS */
.signup-card {
  margin: 25px;
  flex: 0 0 50%;
  max-width: 100%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577A7C;
  color: var(--light);
}
.login-card {
  margin: 25px;
  flex: 0 0 50%;
  max-width: 100%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577A7C;
  color: var(--light);
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: flex;
}

.row {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: inline-flex;
}
#map {
  width:60%;
  height:400px;
  background-color: grey;
  margin-top: 50px;
  margin-left: 20pt;
  margin-bottom: 50px;
  align-self:flex-end;
};

button {
  background-color: var(--dark);
  color: var(--light);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
}

